*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato',sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
    background: url(https://wallpapers.com/images/hd/musical-1600-x-1200-background-fr6zqzd9qvlqbrxn.jpg) no-repeat center center/cover;
}

#contenedor{
    display: flex;
    flex-wrap: wrap; 
    justify-content: center;
    align-items: center;  
    min-height: 60vh;
    width: 80vh;
    max-width: 600px;
    background-color: white;
    border: 4px solid black;
}

h1{
    font-size: 3rem;
    width: 100%;
    margin: 20px 10px;
}

ul{
    width: 100%;
    height: 100%;
}

.instrumento{
    font-size: 2rem;
    font-weight: bold;
    color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80px;
    margin: 15px 0;
}

.fondo-azul{
    background-color: blue;
}

.fondo-rojo{
    background-color: red;
}

.fondo-azul:hover{
    background-color: rgb(11, 7, 132);
}

.fondo-rojo:hover{
    background-color: rgb(132, 7, 7);
}